/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: rgb(193,193,193);
    background: linear-gradient(90deg, rgba(193,193,193,1) 0%, rgba(238,238,238,1) 50%, rgba(193,193,193,1) 100%);
}

.mat-tab-labels{
    justify-content: space-around;
}
.mat-stroked-button{
    border-color: #673ab7 !important;
}